{% extends 'homestaff.html' %} {% block main %}
<div class="container">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <!-- จัดการพัสดุ-ครุภัณฑ์ -->
        <div class="d-flex justify-content-between rounded-2
            align-items-center">
            <div>
                <h5 class="fw-bold">จัดการพัสดุ</h5>
            </div>
            <div class="d-flex flex-row">
                <div class="dropdown">
                    <button
                        class="btn border-0 dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        ตัวเลือกการแสดงผล
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                        <div class="nav">
                            <li>
                                <a class="fa fa-th dropdown-item active ps-4" data-bs-toggle="tab" href="#matrix"></a>
                            </li>
                            <li>
                                <a class="fa fa-list dropdown-item" data-bs-toggle="tab" href="#list"></a>
                            </li>
                            <li>
                                <a class="fa fa-table dropdown-item pe-4" data-bs-toggle="tab" href="#table"></a>
                            </li>
                        </div>
                    </ul>
                </div>
                <a class="btn btn-outline-dark rounded-pill ms-2" data-bs-toggle="modal" data-bs-target="#additem">เพิ่มรายการ</a>
            </div>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between
            mt-1">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0
                        rounded-pill">
                        ล่าสุด
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <label class="fw-bold me-2" id="dropdownMenu">หมวดหมู่</label>
                        <select class="form-select border-0" aria-label="dropdownMenu">
                            <option selected>เลือก</option>
                            <option value="1">อุปกรณ์สื่อสาร</option>
                            <option value="2">โดรน</option>
                            <option value="3">คอมพิวเตอร์</option>
                            <option value="4">IoT</option>
                        </select>
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <label class="fw-bold me-2" id="dropdownMenu">สถานะ</label>
                        <select class="form-select border-0" aria-label="dropdownMenu">
                            <option selected>ทั้งหมด</option>
                            <option value="1">พร้อมยืม</option>
                            <option value="2">ไม่พร้อมยืม</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2 border-dark"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    >
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div
            class="modal fade"
            id="additem"
            tabindex="-1"
            aria-labelledby="additemModal"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="additemModal">เพิ่มรายการพัสดุ</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">{{ form.as_p }}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                                ยกเลิก
                            </button>
                            <button type="submit" name="Submit" class="btn btn-warning rounded-pill">
                                ยืนยัน
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="table">
                <!-- แบบtable -->
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            <th class="col-md-4" scope="col">รายการ</th>
                            <th class="col-md-2 text-center" scope="col">หมวดหมู่</th>
                            <th class="col-md-2 text-center" scope="col">สถานะ</th>
                            <th class="col-md-2 text-center" scope="col">
                                วันที่เพิ่มเข้าสู่ระบบ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="xTable">
                        {% for parcel in page.object_list %}
                        <tr class="qrow text-center">
                            <td>
                                <a class="rounded-pill align-items-center p-2" data-bs-toggle="modal" data-bs-target="#DeleteTable">
                                    <i class="bi bi-trash text-black"></i>
                                </a>
                            </td>
                            <td>
                                <p class="text-start">{{ parcel.name }}</p>
                            </td>
                            <td>
                                <p>{{ parcel.category }}</p>
                            </td>
                            <td>
                                <p>{{ parcel.status }}</p>
                            </td>
                            <td>
                                <p class="">{{ parcel.date }}</p>
                            </td>
                            <td>
                                <a class="rounded-pill align-items-center p-2" href="#">
                                    <i class="bi bi-pencil-square
                                        text-black"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- ลบข้อมูล -->
                        <div
                            class="modal fade"
                            name="DeleteTable"
                            id="DeleteTable"
                            tabindex="-1"
                            aria-labelledby="DeleteTableModal"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog modal-lg
                                modal-fullscreen-lg-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DeleteTableModal">
                                            ยืนยันการลบข้อมูล
                                        </h5>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="cancer" class="btn btn-secondary
                                            rounded-pill" data-bs-dismiss="modal">
                                            ยกเลิก
                                        </button>
                                        <a
                                            type="submit"
                                            value="ยืนยัน"
                                            class="btn btn-warning rounded-pill"
                                            href="{% url 'delete_staff_manage_parcel' parcel.id %}"
                                        >ยืนยัน</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="list">
                <!-- แบบยาว -->
                {% for parcel in page.object_list %}
                <div class="container mt-3 p-3 mb-2 rounded-2 border cart
                    bg-white">
                    <div class="d-flex align-items-center p-2">
                        <div class="d-flex flex-row">
                            <img alt="image"
                                class="rounded me-4 thumb-post"
                                src="{{ parcel.image.url | safe }}" 
                                width="150"
                                height="150"
                            >
                            <div class="">
                                <div class="fs-5">{{ parcel.name }}</div>
                                <div class="text-success">{{ parcel.status }}</div>
                                <div class="small">
                                    <div class="d-flex">
                                        <span>หมวดหมู่</span>
                                        <span class="ms-2">
                                            {{ parcel.category }}
                                        </span>
                                    </div>
                                    <div class="d-flex">
                                        <span>วันที่เพิ่มเข้าระบบ</span>
                                        <span class="ms-2">{{ parcel.date }}</span>
                                    </div>
                                    <div>
                                        <a class="rounded-pill
                                            align-items-center p-2" data-bs-toggle="modal" data-bs-target="#DeleteLong">
                                            <i class="bi bi-trash text-black"></i>
                                        </a>
                                        <a class="rounded-pill
                                            align-items-center p-2" href="#">
                                            <i class="bi bi-pencil-square
                                                text-black"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ลบข้อมูล -->
                <div
                    class="modal fade"
                    name="DeleteLong"
                    id="DeleteLong"
                    tabindex="-1"
                    aria-labelledby="DeleteLongModal"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeleteLongModal">
                                    ยืนยันการลบข้อมูล
                                </h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-footer">
                                <button type="cancer" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                                    ยกเลิก
                                </button>
                                <a
                                    type="submit"
                                    value="ยืนยัน"
                                    class="btn btn-warning rounded-pill"
                                    href="{% url 'delete_staff_manage_parcel' parcel.id %}"
                                >ยืนยัน</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane active" id="matrix">
                <div class="row small">
                    {% for parcel in page.object_list %}
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card border bg-gray" >
                            <div class="text-center" >
                                <img src="{{ parcel.image.url | safe }}" class="thumb-post" width="250">
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class="rounded-pill align-items-center
                                        p-2" data-bs-toggle="modal" data-bs-target="#DeleteMatrix">
                                        <i class="bi bi-trash
                                            text-black"></i>
                                    </a>
                                    <a class="rounded-pill align-items-center
                                        p-2" href="#">
                                        <i class="bi
                                            bi-pencil-square text-black"></i>
                                    </a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">
                                        {{ parcel.name }}
                                    </span>
                                    <br>
                                    <span class="mb-4 text-success">
                                        {{ parcel.status }}
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span>
                                    <span>
                                        {{ parcel.category }}
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>วันที่เพิ่มเข้าระบบ</span>
                                    <span>
                                        {{ parcel.date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ลบข้อมูล -->
                    <div
                        class="modal fade"
                        name="DeleteMatrix"
                        id="DeleteMatrix"
                        tabindex="-1"
                        aria-labelledby="DeleteMatrixModal"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog modal-lg
                            modal-fullscreen-lg-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteMatrixModal">
                                        ยืนยันการลบข้อมูล
                                    </h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="cancer" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                                        ยกเลิก
                                    </button>
                                    <a
                                        type="submit"
                                        value="ยืนยัน"
                                        class="btn btn-warning rounded-pill"
                                        href="{% url 'delete_staff_manage_parcel' parcel.id %}"
                                    >ยืนยัน</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
            {% endif %} {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
