{% extends 'homestaff.html' %}
{% block main %}

<div class="container bg-white px-5 py-3 rounded-2" style="margin-top: 10px;">
    <div>
        <h5 class="fw-bold">การตั้งค่าการแสดงผล</h5>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#display">การแสดงผล</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- การแสดงผล -->
        <div class="tab-pane container active" id="display">
            <table id="example" class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="col-12">การแสดงผล</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for All_CategoryDisplay in All_CategoryDisplay %}
                    <tr>
                        <td>
                            <span>{{ All_CategoryDisplay.name_CategoryDisplay }}</span>
                        </td>
                        <td>
                            <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu dropdown-menu-lg-end  shadow-sm">
                                <li><a class="dropdown-item btn-0 btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#edititemcategory">แก้ไข</a>
                                </li>
                                <li><a href="/DeleteCategoryDisplay/{{ All_CategoryDisplay.id }}" class="dropdown-item btn-0 btn-sm"  >ลบ</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <p class="btn btn-outline-dark rounded-pill mt-2" data-bs-toggle="modal"
                    data-bs-target="#additemcatecory">เพิ่มการแสดงผล</p>
            </table>
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
            <script>
              $(document).ready(function () {
                $('#example').DataTable();
              });
            </script>
        </div>
        <!-- moal เพิ่มการแสดงผล -->
        <div class="modal fade" id="additemcatecory" tabindex="-1" aria-labelledby="additemModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <form action="" >
                    {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="additemModal">เพิ่มการแสดงผล</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col" for="name_CategoryDisplay">
                                <input type="text" class="form-control rounded-pill" name="name_CategoryDisplay" id="name_CategoryDisplay" placeholder="การแสดงผล กรอกเป็นตัวเลข">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill"
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-warning rounded-pill">ยืนยัน</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <!-- moal แก้ไขการแสดงผล -->
        <div class="modal fade" id="edititemcatecory" tabindex="-1" aria-labelledby="edititemModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edititemModal">แก้ไขการแสดงผล</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col">
                                <input type="number" class="form-control rounded-pill" id="#"
                                    placeholder="การแสดงผล กรอกเป็นตัวเลข">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill"
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="button" class="btn btn-warning rounded-pill">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}