{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}
<div class=" container  ">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between justify-content: right;"></div>

        <div class="">
            <div class="bg-white rounded-2 mb-4 px-5 py-3">
                <div class="d-flex justify-content-between row">
                    <div class="col-md-12 col-lg-6">
                        <h5 class="fw-bold">ข้อมูลเจ้าหน้าที่</h5>
                    </div>
                    <div class="d-flex flex-row col-md-12 col-lg-6 justify-content-end">
                        <div>
                            <a class="" >จำนวนเจ้าหน้าที่ 10 คน</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex row rounded-2 small fw-bold justify-content-between mt-2">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="-flex flex-row align-items-center ">
                            <span>เรียงโดย</span>
                            <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <form class="d-flex" role="search" action="SearchUser/">
                            <input class="form-control me-2 border-dark" type="search" placeholder="Search"
                                aria-label="Search" name="query" id="query">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="bg-white rounded-2 mb-4 px-2 py-3">
                    <div class="row mt-3">
                        <table id="example" class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th class="col-md-1 text-start" scope="col"></th>
                                    <th class="col-md-3 text-center" scope="col">ชื่อ-นามสกุล</th>
                                    <th class="col-md-2 text-center" scope="col">เบอร์โทรศัพท์</th>
                                    <th class="col-md-3 text-center" scope="col">ใช้งานล่าสุด</th>
                                    <th class="col-md-3 text-center" scope="col">อีเมลล์</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="xTable">
                                {% for AllUser in page.object_list %}
                                <tr class="qrow text-center">
                                    <td><span href="#" class="btn" value="Delete" data-bs-toggle="modal"
                                            data-bs-target="#Delete"><i class="fa fa-trash"></i></span></td>
                                    <td>
                                        <p>{{ AllUser.email }}</p>
                                    </td>
                                    <td>
                                        <p>{{ AllUser.phone }}</p>
                                    </td>
                                    <td>
                                        <p>{{ AllUser.email }}</p>
                                    </td>
                                    <td>
                                        <p>{{ AllUser.email_user }}</p>
                                    </td>
                                    <td><a class="btn btn-warning rounded-pill badge" href="/admin_detail/">รายละเอียด</a></td>
                                </tr>
                                {% endfor %}

                               <!-- ลบข้อมูล -->
                               <div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="DeleteuserModal"
                               aria-hidden="true">
                               <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <h5 class="modal-title" id="DeleteuserModal">ยืนยันการลบข้อมูล
                                           </h5>
                                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                                               aria-label="Close"></button>
                                       </div>
                                       <div class="modal-body">
                                           <div class="d-flex">
                                               <label class="labels px-2">อีเมลล์</label>
                                               <p>somsri.so.63@ubu.ac.th</p>
                                           </div>
                                       </div>
                                       <div class="modal-footer">
                                           <button type="cancer" class="btn btn-secondary rounded-pill"
                                               data-bs-dismiss="modal">ยกเลิก</button>
                                           <button type="submit"
                                               class="btn btn-warning rounded-pill">ยืนยัน</button>
                                       </div>
                                   </div>
                               </div>
                           </div>

                            </tbody>
                        </table>
                        <div class="page-links">
                            {% if page.has_previous %}
                            <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
                            {% endif %}
                            {% if page.has_next %}
                            <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}